.open-master-record {
  padding: 10px;
  margin: 5px;
  background-color: silver;
  border-radius: 8px;
  margin-top: 30px;
}
.limited-master-record {
  padding: 10px;
  margin: 5px;
  background-color: gold;
  border-radius: 8px;
  margin-top: 30px;
}

.normal-record {
  margin-top: 30px;
}

.art-card {
  min-width: 200px;
  width: 100%;
  height: 100%;
  filter: none;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #EDECEC;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.01);
  &.no-min{
    min-width: 1px;
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  div.art-content__wrapper{
    padding: 0;
    border-radius: 10px;
    > div{
      width: 100%;
      .ant-image{
        width: 100%;
        aspect-ratio: 1/1;
        height: auto;
        overflow: hidden;
        border-radius: 12px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        > img{
          max-width: 100%;
          border-radius: 0;
        }
      }
    }
  }
  .ant-card-body {
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    box-shadow: none;
    border-radius: 0px 0px 8px 8px;
    .art-card__header{
      z-index: 1;
      margin-top: -17px;
      position: relative;
      padding: 0 20px;
      margin-bottom: 0;
      .custom-avatar-image{
        margin-bottom: 0;
        width: 36px;
        height: 36px;
        border-radius: 50px;
        overflow: hidden;
        border: 2px solid #FFFFFF;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        span.ant-avatar {
          display: none;
        }
      }
    }
    .ant-card-meta{
      position: relative;
      padding: 20px 20px;
    }
    .edition-badge{
      background: #f0f0f0;
    }
  }

  .edition-badge {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 25px;
    margin: 0;
    color: #000;
    background-color: transparent;
  }

  .ant-card-meta-title {
    color: @accent-color;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0 !important;
    min-height: 1px;
    max-width: 100%;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 120%;
    font-weight: 600;
    font-family: AvertaStd-Semibold;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .ant-card-meta {
    width: 100%;
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
  }

  .ant-image {
    display: block;
  }

  .art-content {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: @grey-60;
      border-radius: 12px;
      width: 100%;
      min-height: 65%;
      overflow: hidden;
      padding: 18px;

      .ant-image {
        filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.2));

        img {
          max-width: 240px;
          width: 100%;
        }
      }
    }
  }
}

.art-card-for-selector,
.art-create-card {
  height: auto;
}

.small {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.cd-container {
  background: linear-gradient(270deg, #616774 7.29%, #403f4c 100%);
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 8px 8px;
  margin-top: 20px;
  padding: 24px;
}

.cd-title {
  color: #000;
}

.cd-time {
  color: #000;
}


.ant-row.content-action.sell-card {
	margin: 0 0 20px 0;
}
.ant-row.content-action.sell-card .artwork-grid{
  margin: 0;
}