header.ant-layout-header.App-Bar {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  height: fit-content;
  z-index: 10;
  padding: 18px 0;

  @media (max-width: @mobile-xs-max) {
    max-height: 64px;
    position: sticky;
    background: #fff;
  }
}

footer.ant-layout-footer {
  padding: 10px 0;
  width: 100%;
}

.ant-layout-sider {
  background-color: unset;
}

a:link {
  color: #6300FF;
}
a:visited {
  color: #6300FF;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}

.masonry-grid {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-left: -32px !important;
}

.masonry-grid_column {
  padding-left: 32px !important; /* gutter size */
  background-clip: padding-box;
}

.masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
.ant-tabs-ink-bar {
  display: none;
}
.ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before {
  display: none;
}
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
  margin-bottom: 24px;
}
.ant-tabs-tab + .ant-tabs-tab {
  margin-left: 8px;
}
.ant-tabs-tab {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  height: auto;
  opacity: 1;
  &:hover,
  &.ant-tabs-tab-active {
    background: rgb(99, 0, 255);
    box-shadow: 0 0 24px rgba(26, 26, 26, 0.12);
    border-radius: 8px;
    opacity: 1;
    color: #fff;
    .ant-tabs-tab-btn {
      color: #000;
    }
    .tab-title{
      color: #fff;
    }
  }

  .ant-tabs-tab-btn {
    display: flex;
    align-items: center;
  }
  span.live {
    width: 8px;
    height: 8px;
    border-radius: 5px;

    background: @metaplex-primary-color;
    box-shadow: 0px 0px 12px @metaplex-primary-color;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 12px;
  }
}

/* Optional, different gutter size on mobile */
@media (max-width: 800px) {
  .masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.ant-card-body {
  padding: 0;
}

.explore-tab{
  overflow: hidden;
  padding: 10px 0;
}
.home-tab {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
  margin-bottom: 53px;
  > h2{
    margin-bottom: 0;
    font-family: 'LoRes9PlusOTNarrowBold' !important;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 115.8%;
    color: #000000;
    @media (max-width: @screen-sm-min){
      font-size: 22px;
      width: 100%;
      margin-bottom: 15px;
      + .ant-row{
        width: 100%;
      }
    }
  }
  
  .ant-tabs-nav{
    margin-bottom: 0;
  }
  .ant-tabs-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    font-weight: 600;
    height: 30px;
    opacity: 1;
    background: rgba(157, 157, 157, 0.2);
    border-radius: 48px;
    font-family: AvertaStd-Bold;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    color: #9D9D9D;
    + .ant-tabs-tab {
      margin-left: 20px;
    }
    span.live {
      width: 8px;
      height: 8px;
      order: 0;
      flex-grow: 0;
      margin-right: 8px;
      background: #6300FF;
      border: 1px solid #FFF;
      box-sizing: border-box;
      box-shadow: 0px 4.35535px 5.44419px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
    }
    &:hover,
    &.ant-tabs-tab-active {
      background: #0E0E0E;
      box-shadow: none;
      opacity: 1;
      color: #fff;
      .ant-tabs-tab-btn {
        color: #fff;
      }
    }
  }
}

.featured-creators{
  display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  > h2{
    margin-bottom: 0;
    font-family: 'LoRes9PlusOTNarrowBold' !important;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 115.8%;
    color: #000000;
    width: 100%;
    @media (max-width: @screen-sm-min){
      font-size: 22px;
      width: 100%;
      + .ant-row{
        width: 100%;
      }
    }
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin:30px -28px 0 -28px;
    @media (max-width: 1024px){
      margin:20px -15px 0 -15px;
    }
    @media (max-width: 500px){
      margin:20px -8px 0 -8px;
    }
    li{
      width: 20%;
      padding: 0 28px;
      margin-bottom: 25px;
      @media (max-width: 1024px){
        padding: 0 15px;
        width: 25%;
      }
      @media (max-width: 767px){
        width: 33.33%;
      }
      @media (max-width: 500px){
        width: 50%;
        padding: 0 8px;
        margin-bottom: 10px;
      }
      a{
        display: block;
      }
      .featuere-img{
        background: #C4C4C4;
        border-radius: 25px;
        overflow: hidden;
        padding-top: 100%
      }
      .feature-content{
        margin-top: 15px;
        h5{
          font-family: 'AvertaStd-Semibold';
          font-size: 18px;
          line-height: 115.8%;
          color: #000000;
          text-align: center;
          @media (max-width: 767px){
            font-size: 14px;
          }
        }
      }
    }
  }
}