@import '../../styles/colors.less';
.metamask-icon {
  background-position: 50%;
  background-repeat: no-repeat;
  background-image: url(/assets/metamask.svg);
}

.app-left {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-left: 0;
	max-width: calc(100% - 230px);
	width: 100%;
}
.app-left > div{
  max-width: calc(100% - 230px);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.app-left > a{
  max-width: 230px;
  width: 100%;
}

.app-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  max-width: 310px;
  width: 100%;
  justify-content: flex-end;
  > div,
  > span{
    padding: 0;
    margin-left: 10px;
    align-items: flex-start;
    height: auto;
    min-height: 1px;
    line-height: normal;
    margin-bottom: 0;
    > button.ant-btn-default.ant-btn.wallet-key,
    > button.ant-btn-default.ant-btn.wallet-key,
    > .notification-popup{
      border: 1px solid #C7C7C7;
      width: 48px;
      height: 48px;
      line-height: 42px;
      text-align: center;
      border-radius: 50px;
      // display: inline-block;
      // vertical-align: top;
      display: flex;
      justify-content: center;
      align-items: center;
      &:after{
        display: none;
      }
      &:hover{
        background-color: #C7C7C7 !important;
      }
    }
  }
  .profile-action-button{
    margin-left: 0;
    margin-right: -7px;
    > a{
      width: auto;
      button{
        color: #FFFFFF;
        background: url('/buttonBg.png') no-repeat 0 0 !important;
        background-size: cover !important;
        border: 1px solid #fff;
        padding: 14px 20px;
        height: 48px;
        font-size: 14px;
        text-align: center;
        &:hover{
          border-color: #6300FF;
        }
      }
    }
  }
}
.app-right .ant-dropdown-button .ant-dropdown-trigger {
	display: none;
}
// .app-right .ant-badge img {
// 	filter: invert(1);
// }
.app-right button.ant-btn,
.app-right button.connector {
	box-shadow: none;
	border: 1px solid #6300FF;
	border-radius: 50px;
	min-width: 95px;
	padding: 10px 20px;
  &.no-border{
    border: none;
  }
}
.app-right button.ant-btn:hover,
.app-right button.connector:hover{
  background-color: #6300FF !important;
  color: #fff;
}
.app-right button.ant-btn.wallet-key:hover {
	color: #000;
}
#desktop-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1395px;
  margin: 0 auto;
  padding: 0 48px;
  justify-content: space-between;
  @media (max-width: @screen-sm-min) {
    display: none;
  }
}

section.ant-layout {
  width: 100%;
  margin: auto;
  position: relative;

  #width-layout {
    max-width: 1327px;
  }
}

section#main-layout.ant-layout {
  background-color: #FCFCFC !important;
  min-height: 100vh;

  span#static-header-gradient {
    display: none;
    position: absolute;
    height: 300px;
    width: 100%;
    left: 0;
    background: linear-gradient(0, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  }

  span#static-end-gradient {
    display: none;
    position: absolute;
    height: 300px;
    width: 100%;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  }

  #bg-gradient {
    position: absolute;
    height: 200px;
    width: 100%;
    left: 0;
    top: 510px;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, @black-100 100%);
    display: none !important;
  }

  span#main-bg {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 708px;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, @black-100 100%);;
    background-position: top left !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: none !important;
    filter: blur(220px);
    clip-path: inset(0 0 0 0);
  }
}

.ant-tabs-mobile {
  @media (max-width: @screen-sm-min) {
    padding: 15px 0 0px 0; 
  }
}
